description "riemann-dash"

exec 2>&1

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5

console log

setuid {{ riemann_dash_user  }}
setgid {{ riemann_dash_group }}

env RACK_ENV={{ riemann_dash_env }}

script
  exec riemann-dash /etc/riemann/dash.rb >> {{ riemann_dash_log_dir }}/dash.log 2>&1
end script
